{
  "env": {
    "browser": {
      "plugins": [
        "react-hot-loader/babel",
        [
          "tiny-import",
          {
            "test": "material-ui",
            "moduleMapper": "",
            "easyModuleMapper": { "enable": false }
          }
        ]
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.10",
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "ignore": [
    "public/**"
  ]
}
